@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
	font-family: "Logo du site";
	src: url('fonts/good\ times\ rg.otf');
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', bold;
    font-family: 'Ubuntu', sans-serif;

}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}

.haut {
    background-color: rgb(67, 70, 70);
    padding-top: 0px;

    display: grid;
    grid-template-columns: 15vw 85vw;
}

.haut .titre {
    grid-column: 1 / 2;

    text-decoration: none;

    font-size: 2.4em;
    font-family: "Logo du site";
    font-style: italic;

    text-shadow: 2px 2px rgb(141, 140, 140);

    color: aliceblue;
    margin: auto;
}

nav {
    display: flex;

    justify-content: space-around;

    margin-top: auto;
    margin-bottom: auto;
}

.haut nav a {
    text-decoration: none;
    
    font-size: 1.5em;

    font-family: "roboto";
    color: aliceblue;
}

.page {
    display: grid;
    grid-template-columns: auto 75vw auto;
    background-color: whitesmoke;

}

.name {
    grid-column: 2 / 3;
    grid-row: 1;
    font-family: 'roboto', bold;
    background-color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.5em;
}

.name2{
    margin-top: 1vw;
}

.little-strip {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: #a9b0b9;
    margin-top: 2vw;
    width: 50vw;
    height: 2px;
}

.intro{
    margin-top: 2vw;
    grid-column: 2 / 3;
    grid-row: 1;
    font-family: 'ubuntu';
    font-size: 1em;
}



.photo {
    margin-top: 2.5vw;
    display: grid;
    grid-template-columns: auto auto;
    background-color: whitesmoke;
    background-color: #1b1c24;
}

.IOSVSANDROID {
    margin-top: 2vw;
    grid-column: 2 / 3;
    grid-row: 1;
}

.détail {
    margin-top: 2vw;
    margin-left: 1vw;
    grid-column: 2 / 3;
    grid-row: 1;
    font-family: 'ubuntu';
    font-size: 1em;
    color: white;
}

.little-strip2 {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: white;
    margin-top: 2vw;
    width: 50vw;
    height: 2px;
}

